body {
  background-image: url("../img/full-bg.png");

  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin: 0;
}
.food-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-self: flex-start; */
}
.pet {
  background-image: url(../img/pug.png);
  align-self: center;
  width: 400px;
  height: 400px;
  top: 50px;
  left: 310px;
  position: relative;
  background-position: center;
  background-size: cover;
}
.stats {
  position: relative;
  height: 70px;
  left: 530px;
  display: flex;
  flex-direction: column;
}
