body {
  background-image: url("../img/full-bg.png");
  font-family: "Roboto";
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin: 0;
}
.food-container {
  

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  
}
.petPipa {
  background-image: url("../img/Feliz.png");
  align-self: center;
  width: 400px;
  height: 400px;
  top: 200px;
  left: 520px;
  position: absolute;
  background-position: center;
  background-size: cover;
}
.stats {
  position: relative;
  height: 70px;
  left: 530px;
  display: flex;
  flex-direction: column;
  
}
.foods {
  
  width: 110px;
  height: 110px;
  
}
.foods2 {
  
  
  width: 80px;
  height: 80px;
  margin: 0;
  
}
#nome {
  position: absolute;

  top: 20px;
  font-family: "Dancing Script";
  font-size: 80px;
}
.nameAjst {
  left: 580px;
  color: red;
}
.nameAjst2 {
  left: 500px;
  color: #ea8a42;
}
.petPipaSick {
  width: 400px;
  height: 400px;
  top: 200px;
  left: 520px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url("../img/Doente.png");
}
.petPipaDead {
  width: 400px;
  height: 400px;
  top: 200px;
  left: 520px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url("../img/Morto.png");
}
.petMushi {
  background-image: url("../img/Mushi_sentado.png");
  align-self: center;
  width: 400px;
  height: 400px;
  top: 140px;
  left: 480px;
  position: absolute;
  background-position: center;
  background-size: cover;
}
.petMushiSick {
  background-image: url("../img/Mushi_doentinho.png");
  width: 400px;
  height: 400px;
  top: 140px;
  left: 480px;
  position: absolute;
  background-position: center;
  background-size: cover;
}
.petMushiDead {
  background-image: url("../img/Mushi_mortinho.png");
  align-self: center;
  width: 400px;
  height: 400px;
  top: 140px;
  left: 480px;
  position: absolute;
  background-position: center;
  background-size: cover;
}
.instructions {
  text-align: justify;
  display: block;
  height: 100px;
  width: 200px;
  position: absolute;
  left: 200px;
}
.line {
  text-decoration: underline;
}
.heart {
  height: 25px;
  width: 25px;
  left: 610px;
  
  position: absolute;
}
.meat {
  position: absolute;
  height: 21px;
  width: 21px;
  left: 610px;
  top: 18px;
}
